<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<!-- mybatisGenerator配置文件
	http://www.mybatis.org/generator/index.html
	参考这个官方文档进行配置
 -->


<generatorConfiguration>
 

  <context id="DB2Tables" targetRuntime="MyBatis3">
    
     <!-- 设置不生成注释 -->
    <commentGenerator>
  		<property name="suppressAllComments" value="true"/>
	</commentGenerator>
    
    <jdbcConnection
    	driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://10.0.0.13:3306/smarthospital_test"
        userId="zct"
        password="123456">
    </jdbcConnection>


    <!-- 生成 JavaBean 对象重写 toString方法 -->
    <!-- <plugin type="org.mybatis.generator.plugins.ToStringPlugin" /> -->
    <!-- 生成 JavaBean 对象继承 Serializable 类 -->
    <!-- <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> -->
    <!-- 生成 JavaBean 对象重写 equals 和 hashCode 方法 -->
    <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" /> -->

    <!-- 指定bean生成的位置 -->
    <javaModelGenerator
    		targetPackage="com.cqjtu.model"
    		targetProject="./common/src/main/java">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>

	<!-- 指定sql映射文件生成的位置 -->
    <sqlMapGenerator 
    		targetPackage="mapper"
    	    targetProject="./common/src/main/resources">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

	<!-- 指定dao接口生成的位置 -->
    <javaClientGenerator 
    		type="XMLMAPPER" 
    		targetPackage="com.cqjtu.mapper"
    		targetProject="./common/src/main/java">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

	<!-- 指定每个表的生成策略 -->
      <table tableName="account_status"  domainObjectName="AccountStatus"></table>
      <table tableName="branch"  domainObjectName="Branch"></table>
      <table tableName="branch_doctor_position"  domainObjectName="BranchDoctorPosition"></table>
      <table tableName="branch_doctor_title"  domainObjectName="BranchDoctorTitle"></table>

      <table tableName="doctor"  domainObjectName="Doctor"></table>
      <table tableName="doctor_detail"  domainObjectName="DoctorDetail"></table>
      <table tableName="emr"  domainObjectName="Emr"></table>
      <table tableName="emr_record"  domainObjectName="EmrRecord"></table>


      <table tableName="feedback"  domainObjectName="Feedback"></table>
      <table tableName="feedback_status"  domainObjectName="FeedbackStatus"></table>
      <table tableName="file"  domainObjectName="File"></table>
      <table tableName="fileuse"  domainObjectName="FileUse"></table>

      <table tableName="hospital"  domainObjectName="Hospital"></table>
      <table tableName="pay_kind"  domainObjectName="PayKind"></table>
      <table tableName="pay_record"  domainObjectName="PayRecord"></table>
      <table tableName="pay_record_detail"  domainObjectName="PayRecordDetail"></table>

      <table tableName="pay_status"  domainObjectName="PayStatus"></table>
      <table tableName="picture"  domainObjectName="Picture"></table>
      <table tableName="position"  domainObjectName="Position"></table>
      <table tableName="preorder_status"  domainObjectName="PreorderStatus"></table>

      <table tableName="preorders"  domainObjectName="PreOrders"></table>
      <table tableName="role"  domainObjectName="Role"></table>
      <table tableName="role_action"  domainObjectName="RoleAction"></table>
      <table tableName="sos_record"  domainObjectName="SosRecord"></table>

      <table tableName="title"  domainObjectName="Title"></table>
      <table tableName="users"  domainObjectName="Users"></table>
      <table tableName="users_detail"  domainObjectName="UsersDetail"></table>


  </context>
</generatorConfiguration>