<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.mapper.ExclusiveDoctorMapper">
  <resultMap id="BaseResultMap" type="com.cqjtu.model.ExclusiveDoctor">
    <id column="exclusive_doctor_id" jdbcType="VARCHAR" property="exclusiveDoctorId" />
    <result column="doctor_id_card" jdbcType="VARCHAR" property="doctorIdCard" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="user_id_card" jdbcType="VARCHAR" property="userIdCard" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    exclusive_doctor_id, doctor_id_card, status_id, user_id_card
  </sql>
  <select id="selectByExample" parameterType="com.cqjtu.model.ExclusiveDoctorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exclusive_doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exclusive_doctor
    where exclusive_doctor_id = #{exclusiveDoctorId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from exclusive_doctor
    where exclusive_doctor_id = #{exclusiveDoctorId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqjtu.model.ExclusiveDoctorExample">
    delete from exclusive_doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.ExclusiveDoctor">
    insert into exclusive_doctor (exclusive_doctor_id, doctor_id_card, 
      status_id, user_id_card)
    values (#{exclusiveDoctorId,jdbcType=VARCHAR}, #{doctorIdCard,jdbcType=VARCHAR}, 
      #{statusId,jdbcType=INTEGER}, #{userIdCard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.ExclusiveDoctor">
    insert into exclusive_doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exclusiveDoctorId != null">
        exclusive_doctor_id,
      </if>
      <if test="doctorIdCard != null">
        doctor_id_card,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
      <if test="userIdCard != null">
        user_id_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exclusiveDoctorId != null">
        #{exclusiveDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorIdCard != null">
        #{doctorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="userIdCard != null">
        #{userIdCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqjtu.model.ExclusiveDoctorExample" resultType="java.lang.Long">
    select count(*) from exclusive_doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exclusive_doctor
    <set>
      <if test="record.exclusiveDoctorId != null">
        exclusive_doctor_id = #{record.exclusiveDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorIdCard != null">
        doctor_id_card = #{record.doctorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null">
        status_id = #{record.statusId,jdbcType=INTEGER},
      </if>
      <if test="record.userIdCard != null">
        user_id_card = #{record.userIdCard,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exclusive_doctor
    set exclusive_doctor_id = #{record.exclusiveDoctorId,jdbcType=VARCHAR},
      doctor_id_card = #{record.doctorIdCard,jdbcType=VARCHAR},
      status_id = #{record.statusId,jdbcType=INTEGER},
      user_id_card = #{record.userIdCard,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.ExclusiveDoctor">
    update exclusive_doctor
    <set>
      <if test="doctorIdCard != null">
        doctor_id_card = #{doctorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="userIdCard != null">
        user_id_card = #{userIdCard,jdbcType=VARCHAR},
      </if>
    </set>
    where exclusive_doctor_id = #{exclusiveDoctorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.ExclusiveDoctor">
    update exclusive_doctor
    set doctor_id_card = #{doctorIdCard,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=INTEGER},
      user_id_card = #{userIdCard,jdbcType=VARCHAR}
    where exclusive_doctor_id = #{exclusiveDoctorId,jdbcType=VARCHAR}
  </update>
</mapper>