<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.mapper.NationMapper">
  <resultMap id="BaseResultMap" type="com.cqjtu.model.Nation">
    <id column="nation_id" jdbcType="INTEGER" property="nationId" />
    <result column="nation_desc" jdbcType="VARCHAR" property="nationDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nation_id, nation_desc
  </sql>
  <select id="selectByExample" parameterType="com.cqjtu.model.NationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nation
    where nation_id = #{nationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nation
    where nation_id = #{nationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqjtu.model.NationExample">
    delete from nation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.Nation">
    insert into nation (nation_id, nation_desc)
    values (#{nationId,jdbcType=INTEGER}, #{nationDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.Nation">
    insert into nation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nationId != null">
        nation_id,
      </if>
      <if test="nationDesc != null">
        nation_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nationId != null">
        #{nationId,jdbcType=INTEGER},
      </if>
      <if test="nationDesc != null">
        #{nationDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqjtu.model.NationExample" resultType="java.lang.Long">
    select count(*) from nation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nation
    <set>
      <if test="record.nationId != null">
        nation_id = #{record.nationId,jdbcType=INTEGER},
      </if>
      <if test="record.nationDesc != null">
        nation_desc = #{record.nationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nation
    set nation_id = #{record.nationId,jdbcType=INTEGER},
      nation_desc = #{record.nationDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.Nation">
    update nation
    <set>
      <if test="nationDesc != null">
        nation_desc = #{nationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where nation_id = #{nationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.Nation">
    update nation
    set nation_desc = #{nationDesc,jdbcType=VARCHAR}
    where nation_id = #{nationId,jdbcType=INTEGER}
  </update>
</mapper>