<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.mapper.RoleActionMapper">
  <resultMap id="BaseResultMap" type="com.cqjtu.model.RoleAction">
    <id column="role_access_id" jdbcType="INTEGER" property="roleAccessId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="access_description" jdbcType="VARCHAR" property="accessDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    role_access_id, role_id, access_description
  </sql>
  <select id="selectByExample" parameterType="com.cqjtu.model.RoleActionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_action
    where role_access_id = #{roleAccessId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_action
    where role_access_id = #{roleAccessId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqjtu.model.RoleActionExample">
    delete from role_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.RoleAction">
    insert into role_action (role_access_id, role_id, access_description
      )
    values (#{roleAccessId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{accessDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.RoleAction">
    insert into role_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleAccessId != null">
        role_access_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="accessDescription != null">
        access_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleAccessId != null">
        #{roleAccessId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="accessDescription != null">
        #{accessDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqjtu.model.RoleActionExample" resultType="java.lang.Long">
    select count(*) from role_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update role_action
    <set>
      <if test="record.roleAccessId != null">
        role_access_id = #{record.roleAccessId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.accessDescription != null">
        access_description = #{record.accessDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update role_action
    set role_access_id = #{record.roleAccessId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      access_description = #{record.accessDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.RoleAction">
    update role_action
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="accessDescription != null">
        access_description = #{accessDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where role_access_id = #{roleAccessId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.RoleAction">
    update role_action
    set role_id = #{roleId,jdbcType=INTEGER},
      access_description = #{accessDescription,jdbcType=VARCHAR}
    where role_access_id = #{roleAccessId,jdbcType=INTEGER}
  </update>
</mapper>